# Environment
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:petrajesestra@localhost:5432/appcore?schema=public"

# Apple Search Ads API
# https://developer.apple.com/documentation/apple_search_ads
APPLE_ADS_CLIENT_ID=SEARCHADS.______
APPLE_ADS_KEY_PATH=./apple_ads_private_key.pem
APPLE_ADS_KEY_ID=_________
APPLE_ADS_TEAM_ID=SEARCHADS.______
APPLE_ADS_ORG_ID=_______

# Logging
LOG_LEVEL=info